@model Insignia.Painel.ViewModels.ViewModelBadge
@{
    ViewBag.Title = "Adicionar";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
@Styles.Render("~/Badges/styles")

<!-- page content -->
<div class="page-title">
    <div class="title_left" style="margin-bottom: 20px;">
        <h3>Badges</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Básicas</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadge)
            {
                if (item.Nivel == "Basica")
                {
                    <a href="@Url.Action("../Badges/Editar", null, new { ID = item.ID, controller = "Badges" }, Request.Url.Scheme)">
                        <div class="badge-sistema">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                            </svg>
                            <p class="title" style="color: @item.CorFonte; background: @item.Cor">@item.Titulo</p>
                            <p class="subtitle">@item.Subtitulo</p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Intermediárias</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadge)
            {
                if (item.Nivel == "Intermediaria")
                {
                    <a href="@Url.Action("../Badges/Editar", null, new { ID = item.ID, controller = "Badges" }, Request.Url.Scheme)">
                        <div class="badge-sistema">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                            </svg>
                            <p class="title" style="color: @item.CorFonte; background: @item.Cor; ">@item.Titulo</p>
                            <p class="subtitle">@item.Subtitulo</p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Avançadas</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadge)
            {
                if (item.Nivel == "Avancada")
                {
                    <a href="@Url.Action("../Badges/Editar", null, new { ID = item.ID, controller = "Badges" }, Request.Url.Scheme)">
                        <div class="badge-sistema">
                            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                            </svg>
                            <p class="title" style="color: @item.CorFonte; background: @item.Cor;">@item.Titulo</p>
                            <p class="subtitle">@item.Subtitulo</p>
                        </div>
                    </a>
                }
            }
        </div>
    </div>
    <div class="Adicionar-Fixo">
        <a data-toggle="modal" href=".bs-example-modal-lg" class="dropdown-toggle" role="button" aria-expanded="false" style="display: table-cell; vertical-align: middle;">
            <i class="fa fa-plus" title="Adicionar Badge" style="font-size: 2em; vertical-align: middle;"></i>
        </a>
    </div>
</div>
<!-- /page content -->
@using (Html.BeginForm("Adicionar", "Badges", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
{
    <!-- modal -->
    <div class="x_content">
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Adicionar Badge&nbsp;<i class="fa fa-plus"></i></h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Título: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Titulo", Model.Badge.Titulo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Título", required = "", autofocus = "true" })
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Titulo, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o titulo da bagde sendo ele a definição da conquista ou competência."></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Subtítulo: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Subtitulo", Model.Badge.Subtitulo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Subtítulo", required = "" })
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Subtitulo, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica uma breve descrição da badge."></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Cor:
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="input-group demo2">
                                    @Html.TextBox("Cor", Model.Badge.Cor, new { @class = "form-control", placeholder = "Cor", required = "", Value = "#213499" })
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Cor, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual a cor que a bagde terá."></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Nível: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.DropDownList("Nivel", new SelectList(new List<Object>{
                                    new { value = "Basica" , text = "Básica"  },
                                    new { value = "Intermediaria" , text = "Intermediária" },
                                    new { value = "Avancada" , text = "Avançada"}
                                     },
                                     "value",
                                     "text", 2
                                ), null, new { @class = "select2_multiple form-control", required = "" })
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Nivel, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o nível da bagde baseado na dificuldade de conquista-la."></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                Tipos de tarefas: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Tags", Model.Badge.Tags, new { @class = "tags form-control", required = "", id = "tags_1" })
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Tags, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo é em formato de tags que irão identificar o tipo de tarefa que esta badge irá se referir."></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                Quantidade: <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                @Html.TextBox("Quantidade", Model.Badge.Quantidade, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Quantidade", required = "", type = "number", min = "1", step = "any" })
                                @Html.ValidationMessageFor(modelItem => modelItem.Badge.Quantidade, null, new { @class = "text-danger" })
                            </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica a quantidade de vezes que a tarefa tem que ser executada para desbloqueio da badge."></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Salvar</button>
                        <button type="button" class="btn btn-default submit" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /modal -->
}
@Scripts.Render("~/Badges/scripts")
<!-- Bootstrap Colorpicker -->
<script>
    $(document).ready(function () {
        $('.demo1').colorpicker();
        $('.demo2').colorpicker();

        $('#demo_forceformat').colorpicker({
            format: 'rgba',
            horizontal: true
        });

        $('#demo_forceformat3').colorpicker({
            format: 'rgba',
        });

        $('.demo-auto').colorpicker();
    });
</script>
<!-- /Bootstrap Colorpicker -->
<!-- jQuery Tags Input -->
<script>
    function onAddTag(tag) {
        alert("Adicionar uma tag: " + tag);
    }

    function onRemoveTag(tag) {
        alert("Remover uma tag: " + tag);
    }

    function onChangeTag(input, tag) {
        alert("Mudar uma tag: " + tag);
    }

    $(document).ready(function () {
        $('#tags_1').tagsInput({
            width: 'auto'
        });
    });
</script>
<!-- /jQuery Tags Input -->
