@model Insignia.Model.Badge.Badge
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
@Styles.Render("~/Badges/styles")
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="TituloPagina">Exibir Badge</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a onclick="Javascript:Editar();"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Remover", null, new { ID = Model.ID, controller = "Badges" }, Request.Url.Scheme)"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Editar", "Badges", FormMethod.Post, new { @class = "form-horizontal form-label-left", id = "FormEditar" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Título: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Titulo", Model.Titulo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Título", required = "", @readonly = "readonly" })                            
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o titulo da bagde sendo ele a definição da conquista ou competência."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Subtítulo: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Subtitulo", Model.Subtitulo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Subtítulo", required = "", @readonly = "readonly" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica uma breve descrição da badge."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Cor:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="input-group demo2" style="width: 100%;">
                                @Html.TextBox("Cor", Model.Cor, new { @class = "form-control", placeholder = "Cor", required = "", @readonly = "readonly" })
                                <span class="input-group-addon"><i></i></span>
                            </div>
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual a cor que a bagde terá."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tags: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Tags", Model.Tags, new { @class = "tags form-control", required = "", id = "tags_1", @readonly = "readonly" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo é em formato de tags que irão identificar o tipo de tarefa que esta badge irá se referir."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Nível: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("Nivel", new SelectList(new List<Object>{
                                    new { value = "Basica" , text = "Básica"  },
                                    new { value = "Intermediaria" , text = "Intermediária" },
                                    new { value = "Avancada" , text = "Avançada"}
                                     },
                                     "value",
                                     "text", 2
                                ), null, new { @class = "select2_multiple form-control", required = "", @readonly = "readonly", disabled = "disabled", id = "Nivel" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o nível da bagde baseado na dificuldade de conquista-la."></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" disabled="disabled">Salvar</button>
                        <button type="button" class="btn btn-default submit" onclick="location.href='@Url.Action("Adicionar", "Badges")'" Badg data-dismiss="modal">Voltar</button>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
@Scripts.Render("~/Badges/scripts")
<!-- Bootstrap Colorpicker -->
<script>
    $(document).ready(function () {
        $('.demo1').colorpicker();
        $('.demo2').colorpicker();

        $('#demo_forceformat').colorpicker({
            format: 'rgba',
            horizontal: true
        });

        $('#demo_forceformat3').colorpicker({
            format: 'rgba',
        });

        $('.demo-auto').colorpicker();

        //Desabilita o span do colorpick
        $(".input-group-addon").css("pointer-events", "none");
    });
</script>
<!-- /Bootstrap Colorpicker -->
<!-- jQuery Tags Input -->
<script>
    function onAddTag(tag) {
        alert("Adicionar uma tag: " + tag);
    }

    function onRemoveTag(tag) {
        alert("Remover uma tag: " + tag);
    }

    function onChangeTag(input, tag) {
        alert("Mudar uma tag: " + tag);
    }

    $(document).ready(function () {
        $('#tags_1').tagsInput({
            width: 'auto'
        });

        //Desabilita o campo de tags e seta a cor para o cinza do readonly
        $('#tags_1_tag').prop("disabled", true);
        $("#tags_1_tagsinput *").attr("disabled", "disabled").off('click');
        $("#tags_1_tagsinput").css("background-color", "#eee");

        //Seta o cursor do dropdown d enivel para default
        $("#Nivel").css("cursor", "default");

    });
</script>
<!-- /jQuery Tags Input -->
<!-- Editar -->
<script>
    function Editar() {

        //Muda titulo da página de Exibir Badges para Editar Badges
        $('#TituloPagina').html("Editar Badge");

        //Habilita os campos do formulário para edição e o botão salvar
        $("#FormEditar *").removeAttr("readonly");
        $("#FormEditar *").removeAttr("disabled");

        //Habilita para mostrar o span do colorpick
        $(".input-group-addon").css("pointer-events", "auto");

        //Habilita o campo de tags e seta a cor para o cinza do readonly
        $('#tags_1_tag').removeAttr("disabled");
        $("#tags_1_tagsinput *").removeAttr("disabled");
        $("#tags_1_tagsinput").css("background-color", "#fff");
    }
</script>
<!-- /Editar -->
