@model Insignia.Model.Badge.Badge
@{
    ViewBag.Title = "Exibir";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
@Styles.Render("~/Badges/styles")
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Exibir Badge</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="@Url.Action("Editar", null, new { ID = Model.ID, controller = "Badges" }, Request.Url.Scheme)"><i class="fa fa-wrench" title="Editar Badge"></i></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Remover", null, new { ID = Model.ID, controller = "Badges" }, Request.Url.Scheme)"><i class="fa fa-close" title="Remover Badge"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Exibir", "Badges", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2">
                            Título:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-2">
                            @Html.Label("", Model.Titulo, new { @class = "control-label label-value" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2">
                            Subtítulo:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-2">
                            @Html.Label("", Model.Subtitulo, new { @class = "control-label label-value" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2" for="first-name">
                            Cor:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-2">
                            @Html.Label("Cor", Model.Cor, new { @class = "control-label label-value", Value = "#213499" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2" for="email">
                            Tags:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-2">
                            @Html.Label("", Model.Tags, new { @class = "control-label label-value" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-2" for="first-name">
                            Nível:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-2">
                            @Html.Label("", Model.Nivel, new { @class = "control-label label-value" })
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Badges/scripts")
<!-- Bootstrap Colorpicker -->
<script>
    $(document).ready(function () {
        $('.demo1').colorpicker();
        $('.demo2').colorpicker();

        $('#demo_forceformat').colorpicker({
            format: 'rgba',
            horizontal: true
        });

        $('#demo_forceformat3').colorpicker({
            format: 'rgba',
        });

        $('.demo-auto').colorpicker();
    });
</script>
<!-- /Bootstrap Colorpicker -->
