@model Insignia.Painel.ViewModels.ViewModelAgenda
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
<!-- Foi adicionado manualmente pois no bundle estava dando problema-->
<link href="~/Content/css/fullcalendar/fullcalendar.css" rel="stylesheet">
<link href="~/Content/css/fullcalendar/fullcalendar.print.css" rel="stylesheet" media="print">

<!-- page content -->
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="TituloPagina">Agenda</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            @using (Html.BeginForm("SincronizarAgenda", "Agenda", FormMethod.Get, new { @class = "form-horizontal form-label-left", id = "VisualizarAgenda" }))
            {
                <div class="x_content">
                    <span class="fa fa-refresh" style="float: right; margin-left: 15px; margin-top: 7px; cursor:pointer;" title="Sincronizar com Google Agenda" onclick="document.getElementById('VisualizarAgenda').submit();"></span>
                    <div id='calendar'></div>
                </div>
            }
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" charset=\"iso-8859-1\"></script>", "~/Agenda/scripts")
<!-- FullCalendar -->
<script>
    $(window).load(function () {
        var date = new Date(),
            d = date.getDate(),
            m = date.getMonth(),
            y = date.getFullYear(),
            started,
            categoryClass;

        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            selectable: true,
            selectHelper: true,
            //select: function(start, end, allDay) {
            //  $('#fc_create').click();

            //  started = start;
            //  ended = end;

            //  $(".antosubmit").on("click", function() {
            //    var title = $("#title").val();
            //    if (end) {
            //      ended = end;
            //    }

            //    categoryClass = $("#event_type").val();

            //    if (title) {
            //      calendar.fullCalendar('renderEvent', {
            //          title: title,
            //          start: started,
            //          end: end,
            //          allDay: allDay
            //        },
            //        true // make the event "stick"
            //      );
            //    }

            //    $('#title').val('');

            //    calendar.fullCalendar('unselect');

            //    $('.antoclose').click();

            //    return false;
            //  });
            //},
            //eventClick: function(calEvent, jsEvent, view) {
            //  $('#fc_edit').click();
            //  $('#title2').val(calEvent.title);

            //  categoryClass = $("#event_type").val();

            //  $(".antosubmit2").on("click", function() {
            //    calEvent.title = $("#title2").val();

            //    calendar.fullCalendar('updateEvent', calEvent);
            //    $('.antoclose2').click();
            //  });

            //  calendar.fullCalendar('unselect');
            //},
            editable: false,
            events: [
                @if (Model.ListAgenda != null)
                {
                    foreach (var item in Model.ListAgenda){
                        @:{
                                            @:title: '@Html.Raw(item.Titulo)',
                                            @:start: new Date(@item.DataInicio.Year + '-' + @item.DataInicio.Month + '-' + @item.DataInicio.Day)
                                        @:},
                    }
                }
            ]
        });
    });
</script>
<!-- /FullCalendar -->