<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <title>Painel</title>
    <script src="~/Scripts/js/jquery.js"></script>
    @Styles.Render("~/MainLayout/styles")
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="~/Dashboard/@Session["UsuarioTipo"]" class="site_title"><span style="margin-left: 10px;">Insígnia</span></a>
                    </div>

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            @if (!string.IsNullOrEmpty(Convert.ToString(Session["UsuarioFoto"])))
                            {
                                <!-- Foto do usuário -->
                                <img src="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/Fotos/@Session["UsuarioFoto"]" alt="..." class="img-circle profile_img">
                            }
                            else
                            {
                                <!-- Foto padrão -->
                                <img src="https://s3-sa-east-1.amazonaws.com/insigniagamify/images/Default.png" alt="..." class="img-circle profile_img">
                            }
                        </div>
                        <div class="profile_info">
                            <span>Bem-Vindo,</span>
                            <h2>@this.Session["UsuarioNome"]</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Geral</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-edit"></i> Cadastros <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (Convert.ToString(Session["UsuarioTipo"]) != "Funcionario")
                                        {
                                            <li><a href="~/Badges/Adicionar">Badges</a></li>
                                        }
                                        @if (Convert.ToString(Session["UsuarioTipo"]) != "Funcionario")
                                        {
                                            <li><a href="~/Competencias/Listar">Competências</a></li>
                                        }
                                        @if (Convert.ToString(Session["UsuarioTipo"]) == "Empresa")
                                        {
                                            <li><a href="~/Setores/Listar">Setores</a></li>
                                        }
                                        <li><a href="~/Tarefas/Listar">Tarefas</a></li>
                                        @if (Convert.ToString(Session["UsuarioTipo"]) != "Funcionario")
                                        {
                                            <li><a href="~/Usuarios/Listar">Usuários</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-trophy"></i> Conquistas <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Badges/Adquiridas">Badges</a></li>
                                        @if (Convert.ToString(Session["UsuarioTipo"]) != "Empresa")
                                        {
                                            <li><a href="~/Competencias/DistribuirPontos">Competências</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-calendar"></i> Agenda <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Agenda/Visualizar">Visualizar</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bar-chart"></i> Gráficos <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        <li><a href="~/Competencias/Grafico">Badges</a></li>
                                        <li><a href="~/Badges/Grafico">Competências</a></li>
                                        <li><a href="~/Competencias/Grafico">Setores</a></li>
                                        <li><a href="~/Competencias/Grafico">Tarefas</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-user"></i> Informações <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (Convert.ToString(Session["EmpresaID"]) == Convert.ToString(Session["UsuarioID"]))
                                        {
                                            <li><a href="~/Empresas/Perfil/@Session["EmpresaID"]">Perfil</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="~/Usuarios/Perfil/@Session["UsuarioID"]">Perfil</a></li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Sair" href="~/Login/Sair">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @if (!string.IsNullOrEmpty(Convert.ToString(Session["UsuarioFoto"])))
                                    {
                                                <!-- Foto do usuário -->
                                        <img src="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/Fotos/@Session["UsuarioFoto"]" alt="">@Session["UsuarioNome"]
                                        <span class="fa fa-angle-down"></span>
                                    }
                                    else
                                    {
                                                <!-- Foto padrão -->
                                        <img src="https://s3-sa-east-1.amazonaws.com/insigniagamify/images/Default.png" alt="">@Session["UsuarioNome"]
                                        <span class="fa fa-angle-down"></span>
                                    }
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @if (Convert.ToString(Session["EmpresaID"]) == Convert.ToString(Session["UsuarioID"]))
                                    {
                                        <li><a href="~/Empresas/Perfil/@Session["EmpresaID"]"><i class="fa fa-user pull-right"></i> Perfil</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="~/Usuarios/Perfil/@Session["UsuarioID"]"><i class="fa fa-user pull-right"></i> Perfil</a></li>
                                    }
                                    <li><a href="~/Login/Sair"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    @RenderBody()
                    <br />
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    @Scripts.Render("~/MainLayout/scripts")
</body>
</html>
