@model Insignia.Painel.ViewModels.ViewModelGraficoBadges
@{
    ViewBag.Title = "Badges";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
@Styles.Render("~/Badges/styles")

<!-- page content -->
<div class="page-title">
    <div class="title_left">
        <h3>Gráfico de badges</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2><i class="fa fa-filter"></i>Filtros</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @using (Html.BeginForm("Badges", "Graficos", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
            {
                <div class="form-group">
                    <div>
                        <button class="btn btn-primary" type="submit">Filtrar</button>
                    </div>
                    <div style="float: right">
                        <label class="control-label col-md-1 col-sm-3 col-xs-12" style="width: 60px;">
                            Usuário:
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12" style="width: 300px;">
                            @Html.DropDownList("FiltroUsuario", (List<SelectListItem>)ViewBag.Usuarios, "Todos Usuários", new { @class = "select2_multiple form-control" })
                        </div>
                    </div>
                    @if (Convert.ToString(Session["UsuarioTipo"]) == "Empresa")
                    {
                        <div style="float: right">
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" style="width: 45px;">
                                Setor:
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 300px;">
                                @Html.DropDownList("FiltroSetor", (List<SelectListItem>)ViewBag.Setores, "Todos Setores", new { @class = "select2_multiple form-control", onchange = "$(this).closest('form').submit();" })
                            </div>
                        </div>
                    }                    
                </div>
                <div class="clearfix"></div>
            }
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Básicas</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadgeBasicas)
            {
                if (item.Adquirida)
                {
                    <div class="badge-sistema" style="cursor: pointer;">
                        <div class="wrap">
                            <div class="side-a" style="opacity: 0.9;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="color: @item.CorFonte; background: @item.Cor">@item.Titulo</p>
                                @if (ViewBag.UsuarioID == 0)
                                {
                                    <p class="subtitle">@item.Progresso %</p>
                                }
                                else
                                {
                                    <p class="subtitle"></p>
                                }
                            </div>
                            <div class="side-b">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="background: rgb(43, 43, 43);"></p>
                                <p class="descricao">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Intermediárias</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadgeIntermediarias)
            {
                if (item.Adquirida)
                {
                    <div class="badge-sistema" style="cursor: pointer;">
                        <div class="wrap">
                            <div class="side-a" style="opacity: 0.9;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="color: @item.CorFonte; background: @item.Cor">@item.Titulo</p>
                                @if (ViewBag.UsuarioID == 0)
                                {
                                    <p class="subtitle">@item.Progresso %</p>
                                }
                                else
                                {
                                    <p class="subtitle"></p>
                                }
                            </div>
                            <div class="side-b">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="background: rgb(43, 43, 43);"></p>
                                <p class="descricao">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h2>Badges Avançadas</h2>
            <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @foreach (var item in Model.ListBadgeAvancadas)
            {
                if (item.Adquirida)
                {
                    <div class="badge-sistema" style="cursor: pointer;">
                        <div class="wrap">
                            <div class="side-a" style="opacity: 0.9;">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="color: @item.CorFonte; background: @item.Cor">@item.Titulo</p>
                                @if (ViewBag.UsuarioID == 0)
                                {
                                    <p class="subtitle">@item.Progresso %</p>
                                }
                                else
                                {
                                    <p class="subtitle"></p>
                                }
                            </div>
                            <div class="side-b">
                                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" width="169px" height="181px" viewBox="0 0 216 232">
                                    <path fill="#2B2B2B" d="M207,0C171.827,0.001,43.875,0.004,9.003,0c-5.619-0.001-9,3.514-9,9c0,28.23-0.006,151.375,0,169    c0.005,13.875,94.499,54,107.999,54S216,191.57,216,178V9C216,3.298,212.732,0,207,0z" />
                                </svg>
                                <p class="title" style="background: rgb(43, 43, 43);"></p>
                                <p class="descricao">@item.Descricao</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.Render("~/Badges/scripts")
