@model Insignia.Painel.ViewModels.ViewModelGraficoBadges
@{
    ViewBag.Title = "Badges";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- page content -->
<div class="page-title">
    <div class="title_left">
        <h3>Gráfico de badges</h3>
    </div>
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Filtros</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Badges", "Graficos", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="form-group">
                        @if (Convert.ToString(Session["UsuarioTipo"]) == "Empresa")
                        {
                            <label class="control-label col-md-1 col-sm-3 col-xs-12">
                                Setor:
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                @Html.DropDownList("FiltroSetor", (List<SelectListItem>)ViewBag.Setores, "Todos Setores", new { @class = "select2_multiple form-control", onchange = "$(this).closest('form').submit();" })
                            </div>
                        }
                        <label class="control-label col-md-1 col-sm-3 col-xs-12">
                            Usuário:
                        </label>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            @Html.DropDownList("FiltroUsuario", (List<SelectListItem>)ViewBag.Usuarios, "Todos Usuários", new { @class = "select2_multiple form-control" })
                        </div>
                        <div>
                            <button class="btn btn-primary" type="submit">Filtrar</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-bars"></i> Gráfico Donut</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="graph_donut" style="width:100%; height:300px;"></div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.RenderFormat("<script type=\"text/javascript\" src=\"{0}\" charset=\"iso-8859-1\"></script>", "~/Graficos/scripts")
<!-- morris.js -->
<script>
    $(document).ready(function () {
        Morris.Donut({
            element: 'graph_donut',
            data: [

                @for (var i = 0; i < Model.Badges.Count; i++)
                {
                    @:{
                        @:label: '@Model.Badges[i].Titulo',
                        @:value: @Model.PorcentagemBadges[Model.Badges[i].ID]
                    @:},
                }
            ],
            colors:
                [
                    @foreach (var item in Model.Badges)
                    {
                        @:'@item.Cor',
                    }
                ],
            formatter: function (y) {
                return y + "%";
            },
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
<!-- /morris.js -->
