@model Insignia.Painel.ViewModels.ViewModelGraficoTarefas
@{
    ViewBag.Title = "Tarefas";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- page content -->
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-4 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-filter"></i>Filtros</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                @using (Html.BeginForm("Tarefas", "Graficos", FormMethod.Post, new { @class = "form-horizontal form-label-left" }))
                {
                    <div class="form-group">
                        <div>
                            <button class="btn btn-primary" type="submit">Filtrar</button>
                        </div>
                        <div style="float: right">
                            <label class="control-label col-md-1 col-sm-3 col-xs-12" style="width: 60px;">
                                Usuário:
                            </label>
                            <div class="col-md-3 col-sm-6 col-xs-12" style="width: 300px;">
                                @Html.DropDownList("FiltroUsuario", (List<SelectListItem>)ViewBag.Usuarios, "Todos Usuários", new { @class = "select2_multiple form-control" })
                            </div>
                        </div>
                        @if (Convert.ToString(Session["UsuarioTipo"]) == "Empresa")
                        {
                            <div style="float: right">
                                <label class="control-label col-md-1 col-sm-3 col-xs-12" style="width: 45px;">
                                    Setor:
                                </label>
                                <div class="col-md-3 col-sm-6 col-xs-12" style="width: 300px;">
                                    @Html.DropDownList("FiltroSetor", (List<SelectListItem>)ViewBag.Setores, "Todos Setores", new { @class = "select2_multiple form-control", onchange = "$(this).closest('form').submit();" })
                                </div>
                            </div>
                        }                        
                    </div>
                    <div class="clearfix"></div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Perfil</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="col-md-12 col-sm12 col-xs-12">
                    <div class="profile_title">
                        <div class="col-md-6">
                            <h2>Relatório de Tarefas</h2>
                        </div>
                    </div>
                    <!-- start of user-activity-graph -->
                    <div id="graph_bar" style="width:100%; height:280px;"></div>
                    <!-- end of user-activity-graph -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.Render("~/Graficos/scripts")
<!-- Charts -->
<script>
    $(function () {
        Morris.Bar({
            element: 'graph_bar',
            data: [
              { "periodo": "Jan", "Tarefas Trabalhadas": @Model.TarefasMes[0] },
              { "periodo": "Fev", "Tarefas Trabalhadas": @Model.TarefasMes[1] },
              { "periodo": "Mar", "Tarefas Trabalhadas": @Model.TarefasMes[2] },
              { "periodo": "Abr", "Tarefas Trabalhadas": @Model.TarefasMes[3] },
              { "periodo": "Mai", "Tarefas Trabalhadas": @Model.TarefasMes[4] },
              { "periodo": "Jun", "Tarefas Trabalhadas": @Model.TarefasMes[5] },
              { "periodo": "Jul", "Tarefas Trabalhadas": @Model.TarefasMes[6] },
              { "periodo": "Ago", "Tarefas Trabalhadas": @Model.TarefasMes[7] },
              { "periodo": "Set", "Tarefas Trabalhadas": @Model.TarefasMes[8] },
              { "periodo": "Out", "Tarefas Trabalhadas": @Model.TarefasMes[9] },
              { "periodo": "Nov", "Tarefas Trabalhadas": @Model.TarefasMes[10] },
              { "periodo": "Dez", "Tarefas Trabalhadas": @Model.TarefasMes[11] }
            ],
            xkey: 'periodo',
            hideHover: 'auto',
            barColors: ['#5A738E', '#5A738E', '#5A738E', '#5A738E'],
            ykeys: ['Tarefas Trabalhadas', ''],
            labels: ['Tarefas Trabalhadas', ''],
            xLabelAngle: 60,
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
<!-- /Charts -->
