@model Insignia.Model.Empresa.Empresa
@{
    Layout = null;
}

<!-- page content -->
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Content/images/favicon.ico" type="image/x-icon">
    <title>Insígnia</title>
    <script src="~/Scripts/js/jquery.js"></script>
    @Styles.Render("~/Login/styles")
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        <div class="Inicio">
                            <div class="logo">
                                <p style="margin-top: 18px;">
                                </p>
                                <p style="color: #00e7fb">
                                    INSÍGNIA
                                </p>
                            </div>
                            <div class="square square1"></div>
                            <div class="square square2"></div>
                            <div class="square square3"></div>
                            <div class="square square4"></div>
                            <div class="square square5"></div>
                            <div class="square square6"></div>
                        </div>
                        <!--<h1><img src = "~/Content/Images/.png" width="200" /></h1>-->
                        <div style="display: none" class="alert alert-warning alert-dismissible fade in" role="alert" id="Error">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @ViewBag.Error
                        </div>
                        <div style="display: none" class="alert alert-success alert-dismissible fade in" role="alert" id="Success">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            @ViewBag.Success
                        </div>

                        <div>
                            @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "E-mail", required = "", type = "email", autofocus = "true" })
                        </div>
                        <div>
                            @Html.Password("Senha", "", new { @class = "form-control", placeholder = "Senha", required = "" })
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Acessar</button>
                            <a data-toggle="modal" href=".bs-example-modal-sm" class="reset_pass">Esqueceu sua senha?</a>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Primeiro acesso?
                                <a href="#signup" class="to_register"> Criar uma conta</a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <p>©2016 Todos direitos reservados.Insígnia é um projeto de TCC.</p>
                            </div>
                        </div>
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form" style="margin-top: 100px;">
                <section class="login_content">
                    @using (Html.BeginForm("NovaConta", "Login"))
                    {
                        <h1>Cadastre sua empresa</h1>
                        <div>
                            @Html.TextBox("RazaoSocial", Model.RazaoSocial, new { @class = "form-control", placeholder = "Razão Social", required = "" })
                            @Html.ValidationMessageFor(modelItem => modelItem.RazaoSocial, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.TextBox("CNPJ", Model.CNPJ, new { @class = "form-control", placeholder = "CNPJ", required = "", id = "CNPJ", datainputmask = "'mask' : '99.999.999/9999-99'" })
                            @Html.ValidationMessageFor(modelItem => modelItem.CNPJ, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control", placeholder = "E-mail", required = "", type = "email" })
                            @Html.ValidationMessageFor(modelItem => modelItem.Email, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.Password("SenhaCadastro", Model.SenhaCadastro, new { @class = "form-control", placeholder = "Senha", required = "", id = "SenhaCadastro" })
                            @Html.ValidationMessageFor(modelItem => modelItem.SenhaCadastro, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            @Html.Password("ConfirmaSenha", Model.ConfirmaSenha, new { @class = "form-control", placeholder = "Redigite a Senha", required = "", id = "ConfirmaSenha" })
                            @Html.ValidationMessageFor(modelItem => modelItem.ConfirmaSenha, null, new { @class = "text-danger" })
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Cadastrar</button>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Já possui uma conta?
                                <a href="#signin" class="to_register"> Entrar</a>
                            </p>

                            <div class="clearfix"></div>
                            <br />
                            <div>
                                <p>©2016 Todos direitos reservados.Insígnia é um projeto de TCC.</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    <!-- /modal -->
    <!-- Small modal -->
    @using (Html.BeginForm("RecuperarSenha", "Login"))
    {
        <div class="x_content">
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel2">Recuperação de senha</h4>
                        </div>
                        <div class="modal-body">
                            <h4>@*Text in a modal*@</h4>
                            <p>Informe o e-mail utilizado no cadastro para iniciar o processo de recuperação de senha.</p>
                            @Html.TextBox("email", "", new { @class = "form-control", placeholder = "E-mail", required = "", type = "email" })
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default">Enviar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    <!-- /modal -->
    <!-- /page content -->

    @Scripts.Render("~/Login/scripts")
    <!-- jquery.inputmask -->
    <script>
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
    <!-- Error or Success -->
    <script>
        $(document).ready(function () {
            if ("@ViewBag.Error" != "") {
                $("#Error").css("display", "block");
            }

            if ("@ViewBag.Success" != "") {
                $("#Success").css("display", "block");
            }
        });
    </script>
    <!-- /Erroror Success -->
    <!-- ConfirmPassword-->
    <script>
        var password = document.getElementById("SenhaCadastro"), confirm_password = document.getElementById("ConfirmaSenha");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("As senhas diferem");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <!-- /ConfirmPassword -->
    <!-- ValidacaoCNPJ -->
    <script>
        var cnpjObject = document.getElementById("CNPJ");
        var cnpj = "";
        function validateCNPJ() {
            cnpj = cnpjObject.value.replace(/[^\d]+/g, '');

            if (cnpj == '') cnpjObject.setCustomValidity("CNPJ inválido");

            if (cnpj.length != 14)
                cnpjObject.setCustomValidity("CNPJ inválido");

            // Elimina CNPJs invalidos conhecidos
            if (
                cnpj == "00000000000000" ||
                cnpj == "11111111111111" ||
                cnpj == "22222222222222" ||
                cnpj == "33333333333333" ||
                cnpj == "44444444444444" ||
                cnpj == "55555555555555" ||
                cnpj == "66666666666666" ||
                cnpj == "77777777777777" ||
                cnpj == "88888888888888" ||
                cnpj == "99999999999999") {
                cnpjObject.setCustomValidity("CNPJ inválido");
            }
            else {
                cnpjObject.setCustomValidity('');
            }

            // Valida DVs
            tamanho = cnpj.length - 2
            numeros = cnpj.substring(0, tamanho);
            digitos = cnpj.substring(tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(0)) {
                cnpjObject.setCustomValidity("CNPJ inválido");
            }
            else {
                cnpjObject.setCustomValidity('');
            }

            tamanho = tamanho + 1;
            numeros = cnpj.substring(0, tamanho);
            soma = 0;
            pos = tamanho - 7;
            for (i = tamanho; i >= 1; i--) {
                soma += numeros.charAt(tamanho - i) * pos--;
                if (pos < 2)
                    pos = 9;
            }
            resultado = soma % 11 < 2 ? 0 : 11 - soma % 11;
            if (resultado != digitos.charAt(1)) {
                cnpjObject.setCustomValidity("CNPJ inválido");
            }
            else {
                cnpjObject.setCustomValidity('');
            }
        }

        cnpj.onchange = validateCNPJ;
        cnpjObject.onkeyup = validateCNPJ;
    </script>
    <!-- /ValidacaoCNPJ -->
</body>
</html>
