@model Insignia.Model.Empresa.Empresa
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insígnia</title>
    <script src="~/Scripts/js/jquery.js"></script>
    @Styles.Render("~/Login/styles")
</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    @using (Html.BeginForm("Login", "Login"))
                    {
                        <h1>Logar</h1>
                        <!--<h1><img src="~/Content/Images/.png" width="200" /></h1>-->
                        if (!string.IsNullOrWhiteSpace(ViewBag.Error))
                        {
                            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                @ViewBag.Error
                            </div>
                        }
                        <div>
                            @Html.TextBox("Email", "", new { @class = "form-control", placeholder = "E-mail", Required = "", type = "email" })
                        </div>
                        <div>
                            @Html.Password("Senha", "", new { @class = "form-control", placeholder = "Senha", Required = "" })
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Acessar</button>
                            <a class="reset_pass" data-toggle="modal" href=".bs-example-modal-sm">Esqueceu sua senha?</a>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Primeiro acesso?
                                <a href="#signup" class="to_register"> Criar uma conta </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i>Insígnia.</h1>
                                <p>©2016 Todos Direitos Reservados. Insígnia é um projeto de TCC.</p>
                            </div>
                        </div>
                    }
                </section>
            </div>

            <div id="register" class="animate form registration_form">
                <section class="login_content">
                    @using (Html.BeginForm("NovaConta", "Login"))
                    {
                        <h1>Cadastre sua empresa</h1>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem.RazaoSocial, null, new { @class = "text-danger" })
                            @Html.TextBox("RazaoSocial", Model.RazaoSocial, new { @class = "form-control", placeholder = "Razão Social", Required = "" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem.CNPJ, null, new { @class = "text-danger" })
                            @Html.TextBox("CNPJ", Model.CNPJ, new { @class = "form-control", placeholder = "CNPJ", datainputmask = "'mask' : '99.999.999/9999-99'", Required = "" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem.Email, null, new { @class = "text-danger" })
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control", placeholder = "E-mail", Required = "", type = "email" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem.SenhaCadastro, null, new { @class = "text-danger" })
                            @Html.Password("SenhaCadastro", Model.SenhaCadastro, new { @class = "form-control", placeholder = "Senha", Required = "", id = "SenhaCadastro" })
                        </div>
                        <div>
                            @Html.ValidationMessageFor(modelItem => modelItem.ConfirmaSenha, null, new { @class = "text-danger" })
                            @Html.Password("ConfirmaSenha", Model.ConfirmaSenha, new { @class = "form-control", placeholder = "Redigite a Senha", Required = "", id = "ConfirmaSenha" })
                        </div>
                        <div>
                            <button class="btn btn-default submit" type="submit">Cadastrar</button>
                        </div>

                        <div class="clearfix"></div>
                        <div class="separator">
                            <p class="change_link">
                                Já é um usuário?
                                <a href="#signin" class="to_register"> Entrar </a>
                            </p>

                            <div class="clearfix"></div>
                            <br />

                            <div>
                                <h1><i class="fa fa-paw"></i> Insígnia.</h1>
                                <p>©2016 Todos Direitos Reservados. Insígnia é um projeto de TCC.</p>
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Login/scripts");
    <!-- jquery.inputmask -->
    <script>
        $(document).ready(function () {
            $(":input").inputmask();
        });
    </script>
    <!-- /jquery.inputmask -->
    <!-- ConfirmPassword-->
    <script>
        var password = document.getElementById("SenhaCadastro"), confirm_password = document.getElementById("ConfirmaSenha");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("As senhas diferem");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
    <!-- /ConfirmPassword -->
</body>
</html>
