@model Insignia.Model.Usuario.Usuario
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- page content -->
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="TituloPagina">Exibir Usuário</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a onclick="Javascript:Editar();"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Remover", null, new { ID = Model.ID, controller = "Usuarios" }, Request.Url.Scheme)"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <!-- /page content -->
                @using (Html.BeginForm("Editar", "Usuarios", FormMethod.Post, new { @class = "form-horizontal form-label-left", ID = "FormEditar" }))
                {
                    <div class="alert alert-warning alert-dismissible fade in" role="alert" id="Error" style="text-align: center; margin-bottom: 14px; margin: 0 auto; width: 50%; display: none">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                        @ViewBag.Error
                    </div>
                    <div class="form-group" style="margin-top: 14px;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tipo: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("Tipo", new SelectList(new List<Object>{
                                       new { value = "Funcionario" , text = "Funcionário" },
                                       new { value = "Gestor" , text = "Gestor"  },
                                     },
                                     "value",
                                     "text", 2
                                ), null, new { @class = "select2_multiple form-control", required = "", @readonly = "readonly", disabled = "disabled", id = "Tipo" })
                            @Html.ValidationMessageFor(modelItem => modelItem.Tipo, null, new { @class = "text-danger" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o tipo do usuário, podendo ser funcionário ou gestor."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Setor: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("SetorID", (List<SelectListItem>)ViewBag.Setores, null, new { @class = "select2_multiple form-control", required = "", @readonly = "readonly", disabled = "disabled", id = "SetorID" })
                            @Html.ValidationMessageFor(modelItem => modelItem.SetorID, null, new { @class = "text-danger" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o setor no qual o usuário pertence."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Nome: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Nome", Model.Nome, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Nome", required = "", autofocus = "true", @readonly = "readonly" })
                            @Html.ValidationMessageFor(modelItem => modelItem.Nome, null, new { @class = "text-danger" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o nome do usuário."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            E-mail: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Email", Model.Email, new { @class = "form-control", placeholder = "E-mail", required = "", type = "email", @readonly = "readonly" })
                            @Html.ValidationMessageFor(modelItem => modelItem.Email, null, new { @class = "text-danger" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o e-mail do usuário."></span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" disabled="disabled" id="Salvar">Salvar</button>
                        <button type="button" class="btn btn-default submit" onclick="location.href='@Url.Action("Listar", "Usuarios")'" B Badg data-dismiss="modal">Voltar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- /page content -->
<!-- Error or Success -->
<script>
    $(document).ready(function () {
        if ("@ViewBag.Error" != "") {
            $("#Error").css("display", "block");
        }
    });
</script>
<!-- /Error Success -->
<!-- Desabilita Editar -->
<script>
    $(document).ready(function () {
        //Seta o cursor do dropdown de setores para default
        $("#SetorID").css("cursor", "default");

        //Seta o cursor do dropdown de Tipo para default
        $("#Tipo").css("cursor", "default");
    });
</script>
<!-- /Desabitilia Editar -->
<!-- Habilita Editar -->
<script>
    function Editar() {

        //Muda titulo da página de Exibir Badges para Editar Badges
        $('#TituloPagina').html("Editar Usuário");

        //Habilita os campos do formulário para edição e o botão salvar
        $("#FormEditar *").removeAttr("readonly");
        $("#FormEditar *").removeAttr("disabled");
    }
</script>
<!-- /Habilita Editar -->
