@model Insignia.Painel.ViewModels.ViewModelPerfil
@{
    ViewBag.Title = "Perfil";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}

<!-- page content -->
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Perfil</h2>
                <ul class="nav navbar-right panel_toolbox" style="min-width: 0px;">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            @if (!string.IsNullOrEmpty(Model.Usuario.Foto))
                            {
                                <!-- Foto do usuário -->
                                <img style="width: 200px; height: 200px;" class="img-responsive avatar-view" src="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/Fotos/@Model.Usuario.Foto" alt="Foto">
                            }
                            else
                            {
                                <!-- Foto padrão -->
                                <img style="width: 200px; height: 200px;" class="img-responsive avatar-view" src="https://s3-sa-east-1.amazonaws.com/insigniagamify/images/Default.png" alt="Foto">
                            }
                        </div>
                    </div>
                    <h3>@Model.Usuario.Nome</h3>
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> @Model.Usuario.Cidade, @Model.Usuario.Estado, @Model.Usuario.Pais
                        </li>
                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> @Model.Usuario.Cargo
                        </li>
                        <li class="m-top-xs">
                            <i class="fa fa-external-link user-profile-icon"></i>
                            <a href="@Model.Usuario.Site" target="_blank"> @Model.Usuario.Site</a>
                        </li>
                    </ul>
                    <button type="button" style="float: left; margin-bottom: auto;" class="btn btn-primary" onclick="location.href='@Url.Action("PerfilEditar", null, new { ID = Model.Usuario.ID, controller = "Usuarios" }, Request.Url.Scheme)'">
                        <i class="fa fa-edit m-right-xs"></i>Editar Perfil
                    </button>
                    <br /><br />
                    <!-- start skills -->
                    <h4>Competências</h4>
                    <ul class="list-unstyled user_data">
                        @foreach (var item in Model.ListCompetencias)
                        {
                            <li>
                                <p>@item.Nome</p>
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-blue" role="progressbar" data-transitiongoal="@item.Pontos"></div>
                                </div>
                            </li>
                        }
                    </ul>
                    <!-- end of skills -->
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="profile_title">
                        <div class="col-md-6">
                            <h2>Relatório de Tarefas do Usuário</h2>
                        </div>
                    </div>
                    <!-- start of user-activity-graph -->
                    <div id="graph_bar" style="width:100%; height:280px;"></div>
                    <!-- end of user-activity-graph -->
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Atividades Recentes</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                                <ul class="messages">
                                    @foreach (var item in Model.ListFinalizadas)
                                    {
                                        <li>
                                            @if (!string.IsNullOrEmpty(Model.Usuario.Foto))
                                            {
                                            <!-- Foto do usuário -->
                                                <img class="avatar" src="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/Fotos/@Model.Usuario.Foto" alt="Foto">
                                            }
                                            else
                                            {
                                            <!-- Foto padrão -->
                                                <img class="avatar" src="https://s3-sa-east-1.amazonaws.com/insigniagamify/images/Default.png" alt="Foto">
                                            }
                                            <div class="message_wrapper">
                                                <h4 class="heading">@Model.Usuario.Nome</h4>
                                                <blockquote class="message">@item.Resumo</blockquote>
                                                <br />
                                                @if (!string.IsNullOrEmpty(item.Anexo))
                                                {
                                                    <!-- Anexo da tarefa -->
                                                    <p class="url">
                                                        <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                                        <a href="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/Arquivos/@item.Anexo" target="_blank">
                                                            <i class="fa fa-paperclip"></i> @item.Anexo
                                                        </a>
                                                    </p>
                                                }
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /page content -->

@Scripts.Render("~/Perfil/scripts")
<!-- Charts -->
<script>
    $(function () {
        Morris.Bar({
            element: 'graph_bar',
            data: [
              { "periodo": "Jan", "Tarefas Trabalhadas": @Model.TarefasMes[0] },
              { "periodo": "Fev", "Tarefas Trabalhadas": @Model.TarefasMes[1] },
              { "periodo": "Mar", "Tarefas Trabalhadas": @Model.TarefasMes[2] },
              { "periodo": "Abr", "Tarefas Trabalhadas": @Model.TarefasMes[3] },
              { "periodo": "Mai", "Tarefas Trabalhadas": @Model.TarefasMes[4] },
              { "periodo": "Jun", "Tarefas Trabalhadas": @Model.TarefasMes[5] },
              { "periodo": "Jul", "Tarefas Trabalhadas": @Model.TarefasMes[6] },
              { "periodo": "Ago", "Tarefas Trabalhadas": @Model.TarefasMes[7] },
              { "periodo": "Set", "Tarefas Trabalhadas": @Model.TarefasMes[8] },
              { "periodo": "Out", "Tarefas Trabalhadas": @Model.TarefasMes[9] },
              { "periodo": "Nov", "Tarefas Trabalhadas": @Model.TarefasMes[10] },
              { "periodo": "Dez", "Tarefas Trabalhadas": @Model.TarefasMes[11] }
            ],
            xkey: 'periodo',
            hideHover: 'auto',
            barColors: ['#5A738E', '#5A738E', '#5A738E', '#5A738E'],
            ykeys: ['Tarefas Trabalhadas', ''],
            labels: ['Tarefas Trabalhadas', ''],
            xLabelAngle: 60,
            resize: true
        });

        $MENU_TOGGLE.on('click', function () {
            $(window).resize();
        });
    });
</script>
<!-- /Charts -->
