@model Insignia.Model.Tarefa.Tarefa
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/LayoutPrincipal.cshtml";
}
<div class="page-title">
</div>
<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2 id="TituloPagina">Exibir Tarefa</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a onclick="Javascript:Editar();"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li>
                        <a href="@Url.Action("Remover", null, new { ID = Model.ID, controller = "Tarefas" }, Request.Url.Scheme)"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                @using (Html.BeginForm("Editar", "Tarefas", FormMethod.Post, new { @class = "form-horizontal form-label-left", ID = "FormEditar", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Título: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.ValidationMessageFor(modelItem => modelItem.Titulo, null, new { @class = "text-danger" })
                            @Html.TextBox("Titulo", Model.Titulo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Título", Required = "", @readonly = "readonly" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o titulo da tarefa."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Resumo:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextArea("Resumo", Model.Resumo, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Resumo", @readonly = "readonly" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica um breve resumo da tarefa."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Descrição: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div id="alerts"></div>
                            <div class="btn-toolbar editor" data-role="editor-toolbar" data-target="#editor" id="ferramentas">
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Fonte"><i class="fa fa-font"></i><b class="caret"></b></a>
                                    <ul class="dropdown-menu"></ul>
                                </div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Tamanho da Fonte"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a data-edit="fontSize 5">
                                                <p style="font-size:17px">Grande</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-edit="fontSize 3">
                                                <p style="font-size:14px">Normal</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-edit="fontSize 1">
                                                <p style="font-size:11px">Pequena</p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="bold" title="Negrito (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                                    <a class="btn" data-edit="italic" title="Itálico (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                                    <a class="btn" data-edit="strikethrough" title="Sublinhado"><i class="fa fa-strikethrough"></i></a>
                                    <a class="btn" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                                    <a class="btn" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                                    <a class="btn" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-dedent"></i></a>
                                    <a class="btn" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="justifyleft" title="Alinhar a Esquerda (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                                    <a class="btn" data-edit="justifycenter" title="Centralizar (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                                    <a class="btn" data-edit="justifyright" title="Alinhar a Direita (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                                    <a class="btn" data-edit="justifyfull" title="Justificar (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn dropdown-toggle" data-toggle="dropdown" title="Link"><i class="fa fa-link"></i></a>
                                    <div class="dropdown-menu input-append">
                                        <input class="span2" placeholder="URL" type="text" data-edit="createLink" />
                                        <button class="btn" type="button">Add</button>
                                    </div>
                                    <a class="btn" data-edit="unlink" title="Remover Link"><i class="fa fa-cut"></i></a>
                                </div>
                                <div class="btn-group">
                                    <a class="btn" data-edit="undo" title="Dezfazer (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                                    <a class="btn" data-edit="redo" title="Refazer (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                                </div>
                            </div>
                            <div id="editor" class="editor-wrapper"></div>
                            @Html.ValidationMessageFor(modelItem => modelItem.Descricao, null, new { @class = "text-danger" })
                            @Html.TextArea("Descricao", Model.Descricao, new { placeholder = "Descrição", name = "descr", id = "descr", style = "display:none;" })

                            <br />
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica a descrição do que deve ser feito na tarefa."></span>
                    </div>
                    <div class="item form-group" id="Anexo" style="display:none;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">
                            Anexo:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextBox("Arquivo", Model.Anexo, new { @class = "filestyle", type = "file", name = "Arquivo" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo serve para anexar um arquivo à tarefa."></span>
                    </div>
                    <div class="item form-group" id="Link">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">
                            Anexo:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 8px;">
                            <a target="_blank" href="https://s3-sa-east-1.amazonaws.com/insigniagamify/@Session["EmpresaNome"]/@Model.Anexo">@Model.Anexo</a>
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo serve para anexar um arquivo à tarefa."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Data de término: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.ValidationMessageFor(modelItem => modelItem.Termino, null, new { @class = "text-danger" })
                            @Html.TextBox("Termino", Model.Termino, new { @class = "form-control col-md-7 col-xs-12 has-feedback-left", placeholder = "Data de término", required = "", id = "single_cal4", ariadescribedby = "inputSuccess2Status4", @readonly = "readonly" })
                            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                            <span id="inputSuccess2Status4" class="sr-only">(success)</span>
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual a data término prevista para a tarefa."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            Tipo da tarefa: <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.DropDownList("TipoID", (List<SelectListItem>)ViewBag.Tipos, null, new { @class = "select2_multiple form-control", required = "", @readonly = "readonly", disabled = "disabled", id = "TipoID" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica qual o tipo ou segmento no qual a tarefa se refere."></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            Observações:
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            @Html.TextArea("Observacoes", Model.Observacoes, new { @class = "form-control col-md-7 col-xs-12", placeholder = "Observações", @readonly = "readonly" })
                        </div><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="right" title="Este campo indica as observações da tarefa."></span>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit" disabled="disabled" onclick="GetDescricao();">Salvar</button>
                        <button type="button" class="btn btn-default submit" onclick="location.href='@Url.Action("Adicionar", "Tarefas")'" Badg data-dismiss="modal">Voltar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Tarefas/scripts")
<!-- bootstrap-daterangepicker -->
<script>
    $(document).ready(function () {
        $('#single_cal4').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4",
            format: 'DD/MM/YYYY'
        }, function (start, end, label) {
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#reservation').daterangepicker(null, function (start, end, label) {
        });
    });
</script>
<!-- /bootstrap-daterangepicker -->
<!-- Desabilita Editar -->
<script>
    $(document).ready(function () {
        //Desabilita o span do calendario
        $("#single_cal4").css("pointer-events", "none");

        //Seta o cursor do dropdown de Tipo para default
        $("#TipoID").css("cursor", "default");

        //Desabilita o campo descrição
        $("#editor").css("pointer-events", "none");
        $("#editor").css("background-color", "#eeeeee");

        //Desabilita as ferramentas do campo descrição
        $("#ferramentas").css("pointer-events", "none");

        //Seta nome do arquivo de anexo no campo de upload
        $('input#Arquivo + div input').val('@(Model.Anexo)');
    });
</script>
<!-- /Desabitilia Editar -->
<!-- Habilita Editar -->
<script>
    function Editar() {

        //Muda titulo da página de Exibir Badges para Editar Badges
        $('#TituloPagina').html("Editar Badge");

        //Habilita os campos do formulário para edição e o botão salvar
        $("#FormEditar *").removeAttr("readonly");
        $("#FormEditar *").removeAttr("disabled");

        //Habilita para mostrar o span do datepicker
        $("#single_cal4").css("pointer-events", "auto");

        //Habilita a descrição
        $("#editor").css("pointer-events", "auto");
        $("#editor").css("background-color", "#ffffff");

        //Habilita as ferrasmentas da descrição
        $("#ferramentas").css("pointer-events", "auto");

        //Esconde label com link do arquivo
        $("#Link").css("display", "none");

        //Mostra campo para fazer upload de arquivo
        $("#Anexo").css("display", "block");
    }
</script>
<!-- /Habilita Editar -->
<!-- bootstrap-wysiwyg -->
<script>
    $(document).ready(function () {
        function initToolbarBootstrapBindings() {
            var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier',
                'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
                'Times New Roman', 'Verdana'
            ],
              fontTarget = $('[title=Font]').siblings('.dropdown-menu');
            $.each(fonts, function (idx, fontName) {
                fontTarget.append($('<li><a data-edit="fontName ' + fontName + '" style="font-family:\'' + fontName + '\'">' + fontName + '</a></li>'));
            });
            $('a[title]').tooltip({
                container: 'body'
            });
            $('.dropdown-menu input').click(function () {
                return false;
            })
              .change(function () {
                  $(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');
              })
              .keydown('esc', function () {
                  this.value = '';
                  $(this).change();
              });

            $('[data-role=magic-overlay]').each(function () {
                var overlay = $(this),
                  target = $(overlay.data('target'));
                overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
            });

            if ("onwebkitspeechchange" in document.createElement("input")) {
                var editorOffset = $('#editor').offset();

                $('.voiceBtn').css('position', 'absolute').offset({
                    top: editorOffset.top,
                    left: editorOffset.left + $('#editor').innerWidth() - 35
                });
            } else {
                $('.voiceBtn').hide();
            }
        }

        function showErrorAlert(reason, detail) {
            var msg = '';
            if (reason === 'unsupported-file-type') {
                msg = "Unsupported format " + detail;
            } else {
                console.log("error uploading file", reason, detail);
            }
            $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>' +
              '<strong>File upload error</strong> ' + msg + ' </div>').prependTo('#alerts');
        }

        initToolbarBootstrapBindings();

        $('#editor').wysiwyg({
            fileUploadError: showErrorAlert
        });

        window.prettyPrint;
        prettyPrint();
    });
</script>
<!-- /bootstrap-wysiwyg -->
<!-- Carrega o campo descritivo -->
<script>
    $(document).ready(function () {
        document.getElementById('editor').innerHTML = document.getElementById('descr').innerText;
    });
</script>
<!-- /Carrega o campo descritivo -->
<!-- Campo descrição -->
<script>
    function GetDescricao() {
        document.getElementById('descr').innerText = document.getElementById('editor').innerHTML;
    }
</script>
<!-- /Campo descrição -->
